<div class="well">
    <h3>About this API and website</h3>

    <p>Opendata example, attempt to make difference, help those, who lost their vehicles. Help those,
        who can accidentally buy stolen car. Your chance to verify, if vehicle is registred as stolen in Czech
        Republic.</p>

    <p>There are more accessible databases. I know about <a
            href="http://www.igpr.ro/furtauto/furtauto.aspx">Romanian</a>,
        <a href="http://www.policija.si/seznami/ukradenavozila/uv_prikaz.php">Slovenian</a>, which can be utilized
        same way as Czech. It would be good to have one API that uses as many as possible national databases.
        I will do my best to incorporate those databases to my API.
        Unfortunately i do not have any sponsor (or a few milions of taxpayers) behind my backs, so
        forgive me slow development and responses. I do it in my spare time.
    </p>

</div>

<h2>Technologies</h2>
<p>I am programmer, web developer. I love all the new technologies, services and utilities. This was a chance
    to try them. My first real project in node.js, deployed in cloud. So i made this project based on this
    technologies:</p>
<div class="media">
    <a class="pull-left" href="http://nodejs.org/">
        <img class="media-object" src="/public/img/node.png" width="200px">
    </a>

    <div class="media-body">
        <h4 class="media-heading"><a href="http://nodejs.org/">Node.js</a></h4>

        <p>JavaScript backend. Fast, nonblocking, ideal for my API.</p>
        Used modules (from nmp):
        <ul>
            <li>express - fast webapp development</li>
            <li>request - HTTP requests to police website</li>
            <li>cheerio - jQuery like HTML parsing</li>
            <li>easyxml - JSON to XML transformation</li>
            <li>mongodb - data storage</li>
        </ul>
    </div>
</div>

<div class="media">
    <a class="pull-left" href="https://www.openshift.com/">
        <img class="media-object" src="/public/img/openshift.png" width="200px">
    </a>

    <div class="media-body">
        <h4 class="media-heading"><a href="https://www.openshift.com/">OpenShift</a></h4>

        <p>Red Hat platform as service. Environment which powers this web and API. FreeShift variant gives me
        enough space and performance for now.</p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="http://apiary.io/">
        <img class="media-object" src="/public/img/apiary.png" width="200px">
    </a>

    <div class="media-body">
        <h4 class="media-heading"><a href="http://apiary.io/">Apiary.io</a></h4>

        <p>API documentation, testing.</p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="http://www.mongodb.org/">
        <img class="media-object" src="/public/img/mongodb.png" width="200px">
    </a>

    <div class="media-body">
        <h4 class="media-heading"><a href="http://www.mongodb.org/">MongoDB</a></h4>

        <p>NoSQL database, storage for API data. Document oriented database. Json is base
            storage format, so is very easy just to put there API call results.</p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="twitter.github.io/bootstrap/">
        <img class="media-object" src="/public/img/bootstrap.png" width="200px">
    </a>

    <div class="media-body">
        <h4 class="media-heading"><a href="twitter.github.io/bootstrap/">Twitter Bootstrap</a></h4>

        <p>Front-end web responsive framework. Easy to build nice website even for programmer without
            any graphical sense. Responsive is great benefit out of box (Don't know? just try to resize this page). </p>
    </div>
</div>
<p></p>
<p>And many more tools and technologies. Versioned in <a href="git-scm.com">Git</a>, <a href="http://www.jetbrains.com/idea/">IntelliJ IDEA</a> as IDE, <a href="http://jquery.com/">jQuery</a> for
    frontend JavaScript (hosted on <a href="https://developers.google.com/speed/libraries/devguide">Google CDN</a>) and HTML5 (comes with Bootstrap).</p>
