<div class="well">
    <h3>About this API and website</h3>
    <p>Technology toy, opendata example, my hobby. Your chance to verify, if vehicle is registred as stolen in Czech Republic.</p>
</div>

<h2>Technologies</h2>
<p>I am programmer, web developer. I love all new technologies, services and utilities.
So i made this project based on this technologies:</p>
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="/public/img/node.png" width="200px">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Node.js</h4>
        <p>JavaScript backend. Fast, nonblocking, ideal for my API.</p>
        Used modules (nmp):
        <ul>
            <li>express - fast webapp development</li>
            <li>request - HTTP requests to police website</li>
            <li>cheerio - jQuery like HTML parsing</li>
            <li>easyxml - JSON to XML transformation</li>
            <li>mongodb - data storage</li>
        </ul>
    </div>
</div>

<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="/public/img/openshift.png" width="200px">
    </a>
    <div class="media-body">
        <h4 class="media-heading">OpenShift</h4>
        <p>Red Hat platform as service. Environment which powers this web and API.</p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="/public/img/apiary.png" width="200px">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Apiary.io</h4>
        <p>API documentation, testing.</p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="/public/img/mongodb.png" width="200px">
    </a>
    <div class="media-body">
        <h4 class="media-heading">MongoDB</h4>
        <p>NoSQL database, storage for API data. Document oriented database. Json is base
        storage format, so is very easy just to put there API call results.</p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="/public/img/bootstrap.png" width="200px">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Twitter Bootstrap</h4>
        <p>Front-end responsive framework. Easy to build nice website even for programmer without
        any graphical sense. Responsive is great benefit out of box (Dont know? just try to resize this page). </p>
    </div>
</div>
<p></p>
<p>And many more tools and technologies. Versioned in Git, Intellij IDEA as IDE, jQuery for
frontend JavaScript...</p>
