<div class="well">
    <h3>Contact informations</h3>

    <table>
        <tr><td>Author&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Tomáš Dvořák</td></tr>
        <tr><td>Web </td><td><a href="http://www.tomas-dvorak.cz">www.tomas-dvorak.cz</a></td></tr>
        <tr><td>E-mail </td><td><a href="mailto:todvora@gmail.com">todvora@gmail.com</a></td></tr>
        <tr><td>Social </td><td><a href="https://www.twitter.com/tdvorak">@tdvorak on Twitter</a>, <a href="http://cz.linkedin.com/in/dvoraktomas/">LinkedIn profile</a></td></tr>

    </table>
</div>
