<div class="well" xmlns="http://www.w3.org/1999/html">
    <h3>Demo</h3>
    <p>Ukázka toho, jak se můžete API dotazovat a jaká data vrací. Na výběr je ze dvou výstupních formátů - JSON a XML.<br>Není nutné nijak specifikovat, zda se jedná o VIN nebo SPZ / RZ vozidla. API si s daty poradí v každé kombinaci.</p>
    <br>
        <div class="form-inline form-horizontal">
            <label for="q">SPZ / VIN:</label> <input name="q" id="q" type="text" value="8B67354" class="input-xxlarge">

            <input type="submit" id="submit" value="hledat" class="btn btn-primary">
        </div>
        <br>
        Poslední hledané: <span id="lastsearch"></span><br><br>

        <label class="radio">
            <input type="radio" name="format" value="json" checked>JSON formát - vhodný pro mobilní aplikace, webové stránky
        </label>
        <label class="radio">
            <input type="radio" name="format" value="xml"> XML formát - vhodný pro zpracování v interních systémech
        </label>
        <br>
        <p id="url"></p>
        <pre id="result" style="background-color:white">Nejprve vložte indentifikátor a stiskněte tlačítko Hledat</pre>


    <p></p>
    <script>
        $(document).ready(function () {

            $(document).on("click", ".lastitem", function(event){
                event.stopPropagation();
                event.preventDefault();
                $("#q").val($(this).text());
            });
            $.get('lastsearch',function (result) {
                var obj = JSON.parse(result);
                var output = "";
                $.each(obj,function(index, value){
                    output = output + '<a href="#" class="lastitem">' + value.vin+'</a>&nbsp;&nbsp;';
                });
                $("#lastsearch").html(output);
            });

            function syntaxHighlight(json) {
                if (typeof json != 'string') {
                     json = JSON.stringify(json, undefined, 2);
                }
                json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
                return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                    var cls = 'number';
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            cls = 'key';
                        } else {
                            cls = 'string';
                        }
                    } else if (/true|false/.test(match)) {
                        cls = 'boolean';
                    } else if (/null/.test(match)) {
                        cls = 'null';
                    }
                    return '<span class="' + cls + '">' + match + '</span>';
                });
            }

            var xml_special_to_escaped_one_map = {
                '&': '&amp;',
                '"': '&quot;',
                '<': '&lt;',
                '>': '&gt;'
            };


            function encodeXml(string) {
                return string.replace(/([\&"<>])/g, function(str, item) {
                    return xml_special_to_escaped_one_map[item];
                });
            };

            $("#submit").click(function () {
                var query = $("#q").val();
                var format = $('input:radio[name=format]:checked').val();
                $("#result").text("Načítám...");
                var url = window.location.protocol + '//' + window.location.host + '/search?q=' + query + '&format=' + format;
                $("#url").html('API URL, která je volána: <a href="' + url + '">' + url + '</a>');
                $.get(url,function (result) {
                    if (format == "json") {
                        var obj = JSON.parse(result);
                        $("#result").html(syntaxHighlight(obj));
                    } else {
                        $("#result").html(encodeXml(result));
                    }
                }, "text").fail(function (xhr, statusText) {
                            $("#result").text("Error: " + statusText);
                        });
            });
        });
    </script>
</div>
