<div class="well" xmlns="http://www.w3.org/1999/html">
    <h3>Demo</h3>
    <p>Ukázka toho, jak se můžete API dotazovat a jaká data vrací. Na výběr je ze dvou výstupních formátů - JSON a XML.<br>Není nutné nijak specifikovat, zda se jedná o VIN nebo SPZ / RZ vozidla. API si s daty poradí v každé kombinaci.</p>
    <br>
        <div class="form-inline form-horizontal">
            <label for="q">SPZ / VIN:</label> <input name="q" id="q" type="text" value="8B67354" class="input-xxlarge">

            <input type="submit" id="submit" value="hledat" class="btn btn-primary">
        </div>
        <br>
        Poslední hledané: <span id="lastsearch"></span><br><br>

        <label class="radio">
            <input type="radio" name="format" value="json" checked>JSON formát - vhodný pro mobilní aplikace, webové stránky
        </label>
        <label class="radio">
            <input type="radio" name="format" value="xml"> XML formát - vhodný pro zpracování v interních systémech
        </label>
        <br>
        <p id="url"></p>
        <pre id="result" style="background-color:white">Nejprve vložte indentifikátor a stiskněte tlačítko Hledat</pre>


    <p></p>
    <script src="/public/js/demo.js">

    </script>
</div>
