<div class="well">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="/public/img/apiary.png">
        </a>
        <div class="media-body">
            <h4 class="media-heading">API documentation</h4>
            <p>Documentation for API is placed and maintained on <a href="http://www.apiary.io">Apiary.io</a>. Please continue reading <strong><a target="_blank" href="http://docs.odcizenavozidla.apiary.io">docs.odcizenavozidla.apiary.io</a></strong>.</p>
            <p>If you need quick introduction, see <a href="/demo">demo page</a>. It will give you perspective, how API works.</p>
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="/public/img/github.png">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Hosted on GitHub</h4>
            <p>Source codes of project are placed and maintained on <a href="https://github.com/todvora/policeapi">github.com/todvora/policeapi</a>.</p>
            <p>Feel free to send pull-requests or fork the project.</p>
        </div>
    </div>


</div>
