<div class="well">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="/public/img/apiary.png">
        </a>
        <div class="media-body">
            <h4 class="media-heading">API documentation</h4>
            <p>Documentation for API is placed and maintained on <a href="http://www.apiary.io">Apiary.io</a>.</p>
            <p>Please continue reading <strong><a target="_blank" href="http://docs.odcizenavozidla.apiary.io">docs.odcizenavozidla.apiary.io</a></strong>.</p>
            <p>If you need quick introduction, see <a href="/demo">demo page</a>. It will give you
                perspective, how API works.</p>
        </div>
    </div>


</div>
