<div class="well">
    <h3>API k policejní databázi odcizených vozidel</h3>

    <p>Policie ČR neposkytuje žádné API pro dotazování na odcizená vozidla. Do konce roku 2011 poskytovali pěkné XML API. Pak jej
        ale bez náhrady zrušili a myslí si, že všem musí stačit
        <a href="http://aplikace.policie.cz/patrani-vozidla/default.aspx">formulář</a>
        na jejich webu.</p>

    <p>Pokud si myslíte něco jiného, stejně jako já, pak jste tu dobře. Vytvořil jsem jednoduché API postavené nad webovým
        formulářem, které vám zpříjemní vyhledávání a ověřování odcizených vozidel. Nemusíte tak sami parsovat nepříjemné HTML a starat
        se o aktualizaci scriptů v okamžiku, kdy policie změní strukturu webu.</p>

    <p>
        <a class="btn btn-primary btn-large">
            Learn more
        </a>
    </p>
</div>
