<div class="well">
    <h3>API to official Czech police database of stolen vehicles.</h3>

    <p>Czech police doesn't understand the concept of open data. They does not offer any
        API to search and verify vehicle identificators. They had one API, but at end of 2011 removed it
        without replacement. So i decided to create API based od official web search located on <a href="http://aplikace.policie.cz/patrani-vozidla/default.aspx">police
            website</a>.</p>

    <p>When I asked, why there is no API, I got response (translated):</p>
    <blockquote>"Your automatic processing is useless, if you can find current data on our web page online."</blockquote>

    <p>So I do exactly what they said. I'm searching data on their website and provide them in JSON or XML.</p>

    <p>Police doesn't understand, that it can be possible to verify vehicles in real time in our systems.
    Everywhere, where you process any identificators of vehicles, you can check, if it's not stolen.
    They don't know, what API is and why is useful. <br>All the details of my communication with Czech police is
        <a href="http://www.odcizena-vozidla.cz/ukonceni-importu-policie">here</a> (Czech lang).
    </p>
    <p>Now you can take advantage of this API. Make something useful. Something that can help. Show, that we are able to
    use this data. Informations should be spread, not to be locked inaccessible.</p>

    <div class="btn-group">
        <a href="/demo" class="btn btn-primary btn-large">Run DEMO</a><a href="/docs" class="btn btn-large">Show docs</a>
        </div>

</div>
