<div class="well">
    <h3>API k policejní databázi odcizených vozidel</h3>

    <p>Policie ČR neposkytuje žádné API pro dotazování na odcizená vozidla. Do konce roku 2011 poskytovali pěkné XML API. Pak jej
        ale bez náhrady zrušili a myslí si, že všem musí stačit
        <a href="http://aplikace.policie.cz/patrani-vozidla/default.aspx">formulář</a>
        na jejich webu.</p>

    <p>Když jsem se ptal proč, dostalo se mi odpovědi:</p>
    <blockquote>"Vaše automatické zpracování dat v systémech je zbytečné, pokud tu nejaktuálnější verzi databáze máte na našich stránkách on line."</blockquote>

    <p>Policie zřejmě vůbec nechápe, že bylo možné ihned ověřovat odcizenost vozidla všude tam, kde se pracuje s SPZ / RZ nebo VIN. Netuší, k čemu
        jsou API a jak mají vypadat dostupná data. Celý příběh si můžete přečíst na <a href="http://www.odcizena-vozidla.cz/ukonceni-importu-policie">odcizena-vozidla.cz</a>.</p>

    <p>Pokud si myslíte, stejně jako já, že by informace o odcizeném vozidle měla být co nejsnáz dostupná, pak jste tu dobře.
        Vytvořil jsem jednoduché API postavené nad oficiální webovým
        formulářem, které vám zpříjemní vyhledávání a ověřování odcizených vozidel. Nemusíte tak sami parsovat ošklivé HTML a starat
        se o aktualizaci scriptů v okamžiku, kdy policie změní strukturu webu.</p>
    <p><strong>Každým vyhledáváním pomáháte</strong>. Nejen, že zjistíte, zda je vozidlo hledané.
        Každým dotazem pomáháte zpřístupnit část policejní databáze vyhledavačům. Pro roboty
        je web policie neprůchozí - to je špatně. Když se ale kdekoliv na internetu objeví odkaz na detail vozidla
        v policejní databázi, rázem o stránce budou vědět všechny vyhledavače (seznam, google, bing,...) a mohou
        ji zahrnout do výsledků vyhledávání.
    </p>
    <p>
        <a href="/demo" class="btn btn-primary btn-large">
            Spustit demo
        </a>
    </p>
</div>
