<div class="well">
    <h3>Last API usages</h3>
    <p>Here you can see, which data was searched last time.</p>
</div>
<p>Displaying last {{total}} entries.</p>

{{#results}}
<div class="media well well-small">
    <div class="media-body">
        <h4 class="media-heading">{{vyrobce}} {{typ}}</h4>
        <p>Reg.number: {{spz}}, VIN:{{vin}}<br>
        Police URL: <a href="{{{url}}}">{{url}}</a></p>
        <p><a class="btn btn-small" href="/demo?q={{vin}}">API demo for VIN {{vin}}</a></p>
    </div>
</div>
{{/results}}