
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Czech stolen vehicles database API</title>
    <link rel="stylesheet" href="public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="public/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="public/css/custom.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse"
                    data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">Czech stolen vehicles - API</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/demo">Demo</a></li>
                    <li><a href="/docs">Documentation</a></li>
                    <li><a href="/expo">Users</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/moredata">More data</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {page}
        </div>
    </div>
</div>
</body>
</html>

